<form class="row g-3" method="post">

    <div class="col-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="name">
    </div>
    <div class="col-6">
        <label for="surname" class="form-label">Surname</label>
        <input type="text" name="surname" class="form-control" id="surname">
    </div>

    <div class="col-12">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" name="phoneNumber" class="form-control" id="phoneNumber">
    </div>
    <div class="col-12">
        <label for="address" class="form-label">Address</label>
        <input type="text" name="address" class="form-control" id="address" placeholder="Borchert Str.">
    </div>
    <div class="col-12">
        <label for="addressOptional" class="form-label">Address Optional</label>
        <input type="text" name="addressOptional" class="form-control" id="addressOptional" placeholder="Borchert Str.">
    </div>

    <div class="col-6">
        <label for="city" class="form-label">City</label>
        <input type="text" name="city" class="form-control" id="city">
    </div>
    <div class="col-4">
        <label for="state" class="form-label">State</label>
        <select id="state" class="form-select" name="state">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="postcode" class="form-label">Postcode</label>
        <input type="text" name="postcode" class="form-control" id="postcode">
    </div>

    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" name="rememberAddress" type="checkbox" id="rememberAddress">
            <label class="form-check-label" for="rememberAddress">
                Remembe Address
            </label>
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit" asp-controller="order" asp-action="checkOut">Submit</button>
    </div>
</form>