@model List<Product>

<div class="container-fluid">
    <div class="row">
        @foreach (var product in Model)
        {
        <div class="card-group">
            <div class="card">
              <a class="card-header bg-transparent" href="/product/index?id=@product.Id">@product.Name</a>
                    <img src=@product.ImagePath class="card-img-top" href="#" alt="Image of a product.">
                <div class="card-body">
                    <h5 class="card-title">@product.Description</h5>
                    <p class="card-text">@product.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@product.Cost</small>
                </div>
            </div>
        </div>
        }
    </div>
</div>

