@model ChangeEmail

<form class="needs-validation" asp-controller="User" asp-action="ChangePassword">

<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="validation" asp-validation-summary="All"></div>
        </div>
    </div>
    <br />

    <div class="row pt-lg-5">

            <input type="hidden" name="UserName" value="@Model.UserName" />

            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="Email">New E-mail</label><br />
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="RepeatEmail">Repeat new E-mail</label><br />
                    <input asp-for="RepeatEmail" class="form-control" />
                    <span asp-validation-for="RepeatEmail"></span>
                </div>
            </div>

            <div class="row pt-lg-5">
                <div class="col-6">
                    <div>
                        <button type="submit" class="btn btn-light  btn-block" asp-area="Admin" asp-controller="User" asp-action="ChangeEmail">Change E-mail</button>
                    </div>
                </div>
            </div>
      
    </div>
</div>
</form>