@model ChangePassword

<form class="needs-validation" asp-controller="User" asp-action="ChangePassword">

<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="validation" asp-validation-summary="All"></div>
        </div>
    </div>
    <br />

    <div class="row pt-lg-5">

            <input type="hidden" name="UserName" value="@Model.UserName" />

            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="Password" >New password</label><br />
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="RepeatPasswort">Repeat new password</label><br />
                    <input asp-for="RepeatPasswort" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="row pt-lg-5">
                <div class="col-6">
                    <div>
                        <button type="submit" class="btn btn-light  btn-block" 
                                asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Change password</button>
                    </div>
                </div>
            </div>
      
    </div>
</div>
</form>