@model EditRightsViewModel
<div class="container-fluid">
    <div class="row flex-row border-bottom align-self-center">

        <div class="flex-column col-sm m-0 p-0 border-top-0 border-right ">
            @await Html.PartialAsync("_UsersTable", Model.Users)
        </div>

        <div class="flex-column col-sm m-0 p-0 border-top-0 align-self-center">
            <div class="row justify-content-center pt-5">
                    <p> Current roles of  <strong> @Model.UserName </strong> </p>
            </div>

            <div class="row justify-content-center">
                <div class="validation" asp-validation-summary="All"></div>
            </div>

            <div class="row justify-content-center">
                <form class="needs-validation" asp-controller="User" asp-action="EditRights">
                    <input type="hidden" name="name" value="@Model.UserName">

                    @foreach (var role in Model.AllRoles)
                    {
                        <div class="form-check">
                            @if (Model.UserRoles.Contains(role))
                            {
                                <input class="form-check-input" name="userRolesViewModel[@role.Name]" type="checkbox" value="true" checked />
                                <label class="form-check-label" for="flexCheckDefault">@role.Name </label>
                            }
                            else
                            {
                                <input class="form-check-input" name="userRolesViewModel[@role.Name]" type="checkbox" value="true" />
                                <label class="form-check-label" for="flexCheckDefault">@role.Name </label>
                            }
                        </div>
                    }
                    <br />

                    <div class="row justify-content-center">
                        <div>
                            <button type="submit" class="btn btn-light btn-block" asp-area="Admin" asp-controller="User" asp-action="EditRights"> Change rights </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="flex-column col-sm-2 p-0 border-left">
            @await Html.PartialAsync("_AdminPanel")
        </div>
    </div>
</div>

