@model Login

@*<div id="modal-placeholder"></div>*@


<form id="login-form" asp-area="Customer" asp-action="Login" asp-controller="Account">

    <div class="modal fade show" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                    <h5 class="modal-title" id="loginLabel">Login</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                    <div class="container-fluid">

                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="validation" asp-validation-summary="All"></div>
                            </div>
                        </div>
                        <br />

                        <div class="row justify-content-center">
                            <div class="col-8">
                                <label asp-for="Email" class="col-form-label">Email</label><br />
                                <input asp-for="Email" class="form-control" />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <label asp-for="Password">Password</label><br />
                                <input type="password" asp-for="Password" class="form-control" />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <a class="text-dark" asp-controller="" asp-action="">Forgot your password?</a>
                            </div>
                        </div>
                        <br />
                    </div>

                    
            </div>

            <div class="modal-footer">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <button type="submit" class="btn btn-light  btn-block" asp-area="Customer" asp-controller="Account" asp-action="Login">Login</button>
                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-center">
                        <div class= "col-6 text-center">
                            <a class="text-dark" asp-area="Customer" asp-controller="Account" asp-action="Register">Create Account</a>
                        </div>
                    </div>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
                
        </div>
            
    </div>
        
</div>
    


</form>


