@model Login

<form asp-action="Login" asp-controller="Account">

    <div class="validation" asp-validation-summary="All"></div>

    <div class="col-12">
        <h3>Login</h3>
    </div>

    <div>
        <div class="col-6">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"> </span>
        </div>

        <div class="col-6">
            <label asp-for="Password"></label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"> </span>
        </div>

        <div class="col-6">
            <div class="form-check">
                <label asp-for="RememberMe"></label><br />
                <input type="checkbox" value="true" asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"> </span>
            </div>
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit" asp-controller="Account" asp-action="Login">Login</button>
    </div>

    <div class="col-12">
        <a class="text" asp-controller="Account" asp-action="Register">Create Account</a>
    </div>

</form>