<div class="col-3">
    <div class="list-group">
        <a href="/admin/orders" class="list-group-item list-group-item-action">Orders</a>
        <a href="/admin/users" class="list-group-item list-group-item-action">Users</a>
        <a href="/admin/roles" class="list-group-item list-group-item-action">Roles</a>
        <a href="/admin/products" class="list-group-item list-group-item-action">Products</a>
    </div>
</div>