<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - OnlineShopWebApp3 @*- <a asp-area="" asp-controller="#" asp-action="#">Privacy</a>*@
    </div>
</footer>