<footer class="footer text-muted position-relative">
    <div class="container-fluid border-top border-bottom">
        <div class="row flex-grow-1">

            <div class="flex-column col-sm-4 border-right">
                <a class="text-dark" href="#"> ©vecher 2022 </a>
            </div>
            <div class="flex-column col-sm-4 border-right">
                <a class="text-dark" href="#"> Contact </a>
            </div>
            <div class="flex-column col-sm-4">
                <a class="text-dark" href="https://www.instagram.com/vecher.ceramics/"> Instagram </a>
            </div>
        </div>
    </div>
</footer>