<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom fixed-top  pt-0 pb-0">
        <div class="container-fluid">
            <div class="row flex-grow-1 align-content-center">

                <div class="flex-column border-right">
                    <a class="navbar-brand h2" asp-area="" asp-controller="Home" asp-action="Index">vecher</a>
                </div>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

                    <div class="flex-column col-5">
                        <div class="d-flex justify-content-between">
                            @if (User.IsInRole(Constants.AdminRoleName))
                            {
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Orders">Administrator</a>
                            }
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">About</a>
                        </div>
                    </div>

                    <div class="flex-column col-5">
                        <div class="d-flex justify-content-between">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Shop</a>
                            
                            @if (User.Identity.IsAuthenticated)
                            {
                                @User.Identity.Name
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Exit</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            }

                        </div>
                    </div>
                </div>

                <div class="flex-column border-left">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                        Cart @await Component.InvokeAsync("Cart")
                    </a>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" 
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </div>
    </nav>
</header>