@model ProductViewModel

<div class="container-fluid">
    <div class="row pt-lg-5">
        <div class="col-6">
            <div class="card-img-overlay">
                <div class="row">
                    <div class="col-6">
                        <div class="text-left">
                            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index"><strong>←</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <img src=@Model.ImagePath class="img-fluid" alt="Image of a product.">
        </div>
        <div class="col-6">
            <div>
                <p>
                    <strong>@Model.Name.ToUpper()</strong>
                </p>
                </div>
            <div>
                <p>
                    <strong>Materials</strong><br />
                    @Model.Description</p>
                <p>
                    <strong>Size</strong><br />
                    @Model.Description</p>
            </div>

            <div>
                <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Index" role="button">Continue</a>
            </div>

            <div>
                <a class="btn btn-light" role="button" asp-area="Account" asp-controller="Cart" asp-action="Add" asp-route-productId="@Model.Id" >Add</a>
            </div>
        </div>
   
    </div>

</div>