<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-3">
            @await Html.PartialAsync("AdminPanel")
        </div>
        <div class="col-3">
            <div>
                <div><h5>List of Products</h5></div>
            </div>
        </div>
    </div>
</div>
