@model Product
<div>
    <div>
        <img src=@Model.ImagePath class="img-fluid" alt="Image of a product.">
    </div>
    <div><h5>@Model.Name</h5></div>
    <div><h5>@Model.Description</h5></div>
    <div>
        <a class="btn btn-light" href="/home/index/" role="button">Continue</a>
    </div>
    <div>
        <a class="btn btn-light" href="/cart/add?productId=@Model.Id" role="button">Add</a>
    </div>
</div>